
.form form input
{
    width: 522px;
    height: 64px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 10px;
}

.form textarea
{
    width: 522px;
    height: 232px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 20px 10px 10px 10px;
}

.form form
{
    padding:8px 10px 8px 2px;
}

.gambar
{
    height: 120px; 
    overflow: hidden; 
    border-radius: 4px;
    background: url(../bg.png) no-repeat;
    background-size: cover;
}

/* responsive */

@media only screen and (max-width: 1024px)
{
    .form form input
    {
        width: 311px;
        height: 64px;
        margin-bottom: 20px;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 4px;
    }

    .form textarea
    {
        width: 311px;
        height: 232px;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        padding: 10px 10px 10px 10px;
    }
    .form textarea::placeholder
    {
        width: 201px;
    }


    .gambar
    {
        height: 96px;
        background: url(../bg2.png) no-repeat;
        background-size: cover;
    }

}