.testimoni
{
    background-color: #EAE1D6;
    height: 41rem;
    position: relative;
}

.testimoni .carousel .carousel-inner
{
    margin-top: 80px;
}

.testimoni .carousel-indicators
{
    visibility: hidden;
}

.testimoni .kata h1
{
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 115%;
    /* or 74px */
    width: 554px;
    
    color: #464020;
}

.testimoni .kata h4
{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */
    width: 521px;
    
    color: rgba(0, 0, 0, 0.5);
}

.testimoni .testi .orang img
{
    width: 196px;
    height: 226px;
}
.testimoni .testi .bint img
{
    width: 88px;
    height: 13.89px;
}
.testimoni .testi h2
{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */
    width: 360px;
    display: flex;
    align-items: center;
    
    color: rgba(0, 0, 0, 0.5);
}
.testimoni .testi h3
{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    /* identical to box height, or 36px */
    
    display: flex;
    align-items: center;
    
    color: rgba(0, 0, 0, 0.75);
}
.testimoni .testi h5
{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    
    display: flex;
    align-items: center;
    
    color: rgba(0, 0, 0, 0.5);
}

/* button */

.testimoni .carousel button#kiri
{
  position: relative;
  left: 0px;
  top: 0px;
  width: 32px;
  height: 32px;
}
.testimoni .carousel button#kanan
{
  position: relative;
  right: 0px;
  top: 0px;
  width: 32px;
  height: 32px;
}

.testimoni .kata .tombol
{
    margin-top: 70px;
}
/* end buton */


/* responsive */

@media only screen and (max-width: 1024px)
{
    .testimoni
    {
        height: 75rem;
    }

    .testimoni .kata .tombol
    {
        display: none;
    }
    .testimoni .kata .tombol button
    {
        display: none;
    }

    .testimoni .carousel-indicators
    {
        visibility: visible;
    }
    .testimoni .carousel-indicators button
    {
        position: relative;
        top: -20px;
        width: 8px;
        height: 8px;
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 100%;
    }
    .testimoni .carousel-indicators button.active
    {
        background-color: rgba(0, 0, 0, 0.75);
    }
    .testimoni .kata h1
    {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 115%;
        /* or 41px */
        width: 293px;
        margin-bottom: 24px;
        color: #464020;
    }
    
    .testimoni .kata h4
    {
        width: 301px;
        
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 180%;
        /* or 29px */
        
        
        color: rgba(0, 0, 0, 0.5);
    }
    
    .testimoni .testi .orang img
    {
        width: 312px;
        height: 360px;
    }
    .testimoni .testi .bint img
    {
        margin-top: 24px;
        margin-bottom: 24px;
        width: 152px;
        height: 24px;
    }
    .testimoni .testi h2
    {
        width: 312px;
        
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 180%;
        /* or 25px */
        
        display: flex;
        align-items: center;
        margin-bottom: 32px;
        
        color: rgba(0, 0, 0, 0.5);
    }
    .testimoni .testi h3
    {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 150%;
        /* identical to box height, or 36px */
        
        display: flex;
        align-items: center;
        
        color: rgba(0, 0, 0, 0.75);
    }
    .testimoni .testi h5
    {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        /* identical to box height, or 24px */
        
        display: flex;
        align-items: center;
        
        color: rgba(0, 0, 0, 0.5);
    }
}


@media only screen and (max-width: 576px)
{
    .testimoni
    {
        height: 80rem;
    }
}